<style>
 
 body{
    display: flex;
    background-color: lightblue;
    font-size: 16px;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
 }
  
h1{
     text-align: center;
        }

.inicio{
    background-color: #009999;
    padding: 2em;
    border-radius: 1em;
    
}
form.label{
    text-align: center;
    
}
input {
  width: 100%;
  border-radius: 1em;
  margin:1em;
  padding:1em;
}
button{
  width: 100%;
  border-radius: 1em;
  margin:1em;
  padding:1em;
  background-color: #026969;
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Quiz Game</title>
</head>
<body>
    <h1>Bem-vindo ao Quiz!</h1>
    <form action="/start" method="post">
        <label for="username">Digite seu nome:</label>
        <input type="text" id="username" name="username" required>
        <button type="submit">Iniciar</button>
    </form>
</body>
</html>
